node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

android/app/google-services.json
ios/App/App/GoogleService-Info.plist
android/local.properties
android/.gradle/
android/app/build/
android/capacitor-cordova-android-plugins/build/
